extends layout

block content
  script(src='/javascripts/accounts.js')
  script(src='/javascripts/goalPage.js')
  #phantom.col-md-4
  #addUser.col-md-4
    h1 Goals
    button#btnLogout(class="btn btn-lg btn-primary btn-block") Logout
