extends layout

block content
  script(src='/javascripts/accounts.js')
  #phantom.col-md-4
  #signContain.col-md-4
    #addUser
      h1 Influencey
      h3(class="form-signin-heading") New? Signup today!
      input#inputUserName(type='text', placeholder='Username', class="form-control")
      br
      input#inputUserEmail(type='text', placeholder='Email Address', class="form-control")
      br
      input#inputUserFullname(type='text', placeholder='Full Name', class="form-control")
      br
      input#inputPassword(type='password', placeholder='Password', class="form-control")
      br
      input(type="password", id="inputpasswordconf", class="form-control", placeholder="Re-enter Password")
      br
      button#btnAddUser(class="btn btn-lg btn-primary btn-block") Register
    br
    br
    h3(class="form-signin-heading") Sign In
    input#loginEmail(type='text', placeholder='Email', class="form-control")
    br
    input#loginPassword(type='text', placeholder='Password', class="form-control")
    br
    button#btnLogin(class="btn btn-lg btn-primary btn-block") Login
